"""
This module provides models imports.
"""

# noqa: F401

from app.database import Base, engine
from .base_model import BaseModel
{% if with_auth %}
from .auth_tokens import AuthToken
{% endif %}
from .roles import Role
from .users import User
