"""
This module provides main imports.
"""

# noqa: F401

from .roles import (
    RoleCreateRequest,
    RoleUpdateRequest,
    RoleResponse,
)
from .users import (
    UserCreateRequest,
    UserUpdateRequest,
    UserCreateDefaultRequest,
    UserUpdateDefaultRequest,
    UserStatusUpdateRequest,
    UserResponse,
    UserStatusUpdateResponse,
)
{% if with_auth %}
from .auth import (
    RegisterRequest,
    LoginRequest,
    RefreshTokenRequest,
    ForgotPasswordRequest,
    ResetPasswordRequest,
    ChangePasswordRequest,
    InviteRequest,
    AuthTokensResponse,
    AuthMessageResponse,
)
{% endif %}
{% if with_email or with_auth %}
from .email import (
    EmailMessageRequest,
    EmailMessageResponse,
)
{% endif %}
